{% extends "base.html" %}

{% block container  %}
  <div class="jumbotron page-header">
    <h1>Django E-Commerce</h1>
    <p>
      Se hoje é o dia das crianças... Ontem eu disse: o dia da criança é o dia da mãe, dos pais, das professoras, mas também é o dia dos animais, sempre que você olha uma criança, há sempre uma figura oculta, que é um cachorro atrás. O que é algo muito importante!
    </p>
    <p>
Eu dou dinheiro pra minha filha. Eu dou dinheiro pra ela viajar, então é... é... Já vivi muito sem dinheiro, já vivi muito com dinheiro. -Jornalista: Coloca esse dinheiro na poupança que a senhora ganha R$10 mil por mês. -Dilma: O que que é R$10 mil?
    </p>
    <p><a class="btn btn-primary">Saiba mais</a></p>
  </div>
{% endblock container %}
